#!/bin/sh

/opt/mapr/server/configure.sh -M7 \
	-c -C {% for node in groups['cldb'] -%}{{ hostvars[node].ansible_default_ipv4.address }},{% endfor %} \
	-Z {% for node in groups['zookeepers'] -%}{{ hostvars[node].ansible_default_ipv4.address }},{% endfor %}  \
	-N {{cluster_name}} -on-prompt-cont y
