# Edit these
AWS_ACCESS_KEY="ABCDEFGHIJKLMNOPQRSTUVWXYZ"
AWS_SECRET_KEY="ABCDEFGHIJKLMNOPQRSTUVWXYZ"

# Not these
AWS_ACCESS_KEY_ID="$AWS_ACCESS_KEY"
AWS_SECRET_ACCESS_KEY="$AWS_SECRET_KEY"

export AWS_ACCESS_KEY AWS_ACCESS_KEY_ID AWS_SECRET_KEY AWS_SECRET_ACCESS_KEY
