- name: write /etc/hosts with cluster node names
  template: src=hosts.j2 dest=/etc/hosts mode=0644 

- name: install repo for Redhat-based Linux
  copy: src=maprtech.repo dest=/etc/yum.repos.d/maprtech.repo mode=0644 owner=root group=root
  when: ansible_distribution == "CentOS" or ansible_distribution == "Redhat"

- name: download EPEL RPM
  get_url: url=http://dl.fedoraproject.org/pub/epel/6/x86_64/epel-release-6-8.noarch.rpm dest=/tmp
  when: ansible_distribution == "CentOS" or ansible_distribution == "Redhat"

- name: install EPEL repo for Redhat-based Linux
  command: chdir=/tmp creates=/etc/yum.repos.d/epel.repo rpm -Uvh /tmp/epel-release-6-8.noarch.rpm 
  when: ansible_distribution == "CentOS" or ansible_distribution == "Redhat"

- name: install Java 1.7
  yum: name={{item}} state=present
  with_items:
    - java-1.7.0-openjdk
    - java-1.7.0-openjdk-devel
  when: ansible_distribution == "CentOS" or ansible_distribution == "Redhat"

- name: install NTP
  yum: name=ntp state=latest
  notify: restart ntp
  when: ansible_distribution == "CentOS" or ansible_distribution == "Redhat"

- name: install useful tools
  yum: name={{item}} state=latest
  with_items:
    - git
    - unzip
    - lsof
    - wget
    - nfs-utils
    - clustershell
  when: ansible_distribution == "CentOS" or ansible_distribution == "Redhat"

- name: ensure NFS server is disabled
  service: name=nfs state=stopped enabled=no

- name: ensure rpcbind starts
  service: name=rpcbind state=started enabled=yes

- name: disable memory overcommit
  lineinfile: dest=/etc/sysctl.conf regexp="^vm.overcommit_memory" line="vm.overcommit_memory=0"
  notify: reload sysctl
