[maprtech]
name=MapR Technologies
baseurl=http://package.mapr.com/releases/{{mapr_version}}/redhat/
enabled=1
gpgcheck=0
protect=1

[maprecosystem]
name=MapR Technologies
baseurl=http://package.mapr.com/releases/ecosystem-4.x/redhat
enabled=1
gpgcheck=0
protect=1
