
--- 

- hosts: zookeepers
  max_fail_percentage: 0
  tasks:
    - name: check that zookeeper role exists
      stat: path=/opt/mapr/roles/zookeeper
      register: zookeeper_role

    - fail: msg="Zookeeper role not installed on node in zookeeper group."
      when: zookeeper_role.stat.exists != true

    - name: check that zookeeper is listening on port 5181
      wait_for: port=5181 timeout=5 state=started

- hosts: webserver
  max_fail_percentage: 0
  tasks:
    - name: check that webserver role exists
      stat: path=/opt/mapr/roles/webserver 
      register: webserver_role

    - fail: msg="Webserver role not installed on node in webserver group."
      when: webserver_role.stat.exists != true

    - name: check that MCS is listening on port 8443
      wait_for: port=8443 timeout=5 state=started


- hosts: cldb
  max_fail_percentage: 0
  tasks:
     - name: check that CLDB role exists
       stat: path=/opt/mapr/roles/cldb
       register: cldb_role

     - fail: msg="CLDB role not installed on node in CLDB group."
       when: cldb_role.stat.exists != true

     - name: check if CLDB is running on this node
       shell: maprcli node list -columns svc -filter hn==`hostname` -noheader | grep cldb
       register: grep_cldb
       failed_when: grep_cldb.rc not in (0, 1)
       changed_when: False

     - name: check that CLDB is listening on 7222
       wait_for: port=7222 timeout=5 state=started
       when: grep_cldb.rc == 0

- hosts: fileserver
  max_fail_percentage: 0
  tasks:
   - name: check that fileserver role exists
     stat: path=/opt/mapr/roles/fileserver
     register: fileserver_role

   - fail: msg="fileserver role not installed on node in fileserver group."
     when: fileserver_role.stat.exists != true

   - name: check that fileserver is listening on 5660
     wait_for: port=5660 timeout=5 state=started

- hosts: jobtracker
  max_fail_percentage: 0
  tasks:
    - name: check that jobtracker role exists
      stat: path=/opt/mapr/roles/jobtracker
      register: jobtracker

    - fail: msg="jobtracker role not installed on node in jobtracker group."
      when: jobtracker.stat.exists != true

    - name: check if jobtracker is running on this node
      shell: maprcli node list -columns svc -filter hn==`hostname` -noheader | grep jobtracker
      register: grep_jobtracker
      changed_when: False
      failed_when: grep_jobtracker.rc not in (0,1)

    - name: check that jobtracker is listening on 9001
      wait_for: port=9001 timeout=5 state=started
      when: grep_jobtracker.rc == 0

- hosts: impalaserver
  tasks:
    - name: verify the impalaserver role is present
      stat: path=/opt/mapr/roles/impalaserver
      register: impalaserver_role

    - name: run a minimal impala query on all impalad nodes (will connect locally)
      command: impala-shell --query='show tables'
      register: impala_show_tables
      changed_when: False
      failed_when: impala_show_tables.rc != 0
      when: impalaserver_role.stat.exists

- hosts: edge
  sudo: yes
  sudo_user: mapr
  tasks:
    - name: try to submit a small job (teragen - MRv1)
      environment:
        MAPR_MAPREDUCE_MODE: classic
      command: hadoop jar /opt/mapr/hadoop/hadoop-0.20.2/hadoop-0.20.2-dev-examples.jar teragen 100 /user/teragen
      register: teragen

    - name: clean up the teragen
      command: hadoop fs -rmr /user/teragen
      when: teragen.rc == 0

    - name: try to submit a small job (teragen - MRv2)
      environment:
        MAPR_MAPREDUCE_MODE: yarn
      command: hadoop jar /opt/mapr/hadoop/hadoop-0.20.2/hadoop-0.20.2-dev-examples.jar teragen 100 /user/teragen
      register: teragen

    - name: clean up the teragen
      command: hadoop fs -rmr /user/teragen
      when: teragen.rc == 0

    - name: run TestDFSIO to write 10GB of data
      command: hadoop jar /opt/mapr/hadoop/hadoop-0.20.2/hadoop-0.20.2-dev-test.jar TestDFSIO -write -size 1GB -nrFiles 10 -resFile /tmp/results

    - name: clean up TestDFSIO data
      command: hadoop jar /opt/mapr/hadoop/hadoop-0.20.2/hadoop-0.20.2-dev-test.jar TestDFSIO -clean

    - name: run a minimal hive command
      command: hive -e 'show tables'
      changed_when: False
