wlpra94a0011 ansible_ssh_host={{ec2_cluster.instances[0].private_ip}} instance_id={{ec2_cluster.instances[0].id}}
wlpra95a0011 ansible_ssh_host={{ec2_cluster.instances[1].private_ip}} instance_id={{ec2_cluster.instances[1].id}}
wlpra96a0011 ansible_ssh_host={{ec2_cluster.instances[2].private_ip}} instance_id={{ec2_cluster.instances[2].id}}
wlpra97a0011 ansible_ssh_host={{ec2_cluster.instances[3].private_ip}} instance_id={{ec2_cluster.instances[3].id}}
wlpra98a0011 ansible_ssh_host={{ec2_cluster.instances[4].private_ip}} instance_id={{ec2_cluster.instances[4].id}}
wlpra99a0011 ansible_ssh_host={{ec2_cluster.instances[5].private_ip}} instance_id={{ec2_cluster.instances[5].id}}

[cluster]
wlpra[94:99]a0011

[hiveserver]
wlpra94a0011

[hbasemaster]
wlpra94a0011

[regionserver]
wlpra[94:99]a0011

[hue]
wlpra94a0011

[impalastatestore]

[impalacatalog]

[impalaserver]

[jobtracker]
wlpra[94:96]a0011

[resourcemanager]

[historyserver]

[webserver]
wlpra[94:96]a0011

[tasktracker]
wlpra[94:99]a0011

[nodemanager]

[metrics]
wlpra[94:99]a0011

[zookeepers]
wlpra[94:96]a0011

[cldb]
wlpra[94:96]a0011

[nfs]
wlpra[94:99]a0011

[fileserver]
wlpra[94:99]a0011

[edge]

[spark_master]

[spark_slave]

